.login{
  background-color: #646cffaa;
  height: 300px;
  width: 350px;
  border-radius: 10px;
  border-style: double;
  border-color: rgb(5, 5, 39);
}
.a{
  height: 90px;
  background-color:#646cffaa ;
  
}
.drop{
  display: flex;
}